
@{
    Layout = null;
}

@model IEnumerable<ElektronikSatisi.Models.Urunler>

<!--gallery-->
<div class="gallery">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Elektronik<span> Ürünler</span></h3>
            <p>Laptoplar</p>
        </div>

        <div class="gallery-info">
            @foreach (var urunler in Model)
            {
            <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s">
                <a href="/Urunler/Detay/@urunler.id"><img src="@urunler.UResimYol" class="img-responsive" alt="" /></a>
                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="/Urunler/Detay/@urunler.id">@urunler.UBaslik</a></h5>
                    <p><span class="item_price">@urunler.UFiyat TL</span></p>
                </div>
                <h4 class="acikla" style="font-size: 12px; padding: 10px; text-align: center;"><span class="item_price">@urunler.UAciklama</span></h4>
            </div>

            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//gallery-->
